* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "RobotoLight";
  src: url("/src/font/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoCondensedLight";
  src: url("/src/font/RobotoCondensed-Light.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("/src/font/RobotoCondensed-Regular.ttf") format("truetype");
}

body {
  max-width: 1080px;
  margin: auto;
  font-family: RobotoLight;
}

ul {
  list-style-type: none;
}

section {
  padding: 50px 10px;
}

#vh {
  position: relative;
  height: 100vh;
  background: center/cover url(/src/img/header-bg.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-filter: grayscale(80%);
  filter: grayscale(90%);
}

#vh .vh_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#vh .vh_content h1,
#vh .vh_content h2 {
  text-align: center;
  text-transform: uppercase;
}

#vh .vh_content h1 {
  margin: 1em 0;
}

#vh .vh_content a {
  padding: 0.5em 1.5em;
  border: 1px solid white;
  text-transform: capitalize;
}

#vh .reseaux {
  position: absolute;
  bottom: 30px;
}

#vh .reseaux ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#vh .reseaux ul li {
  margin: 0 10px;
}

#vh .reseaux ul li img {
  width: 20px;
  height: 20px;
}

#section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  #section1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#section1 .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 50px auto;
}

@media (min-width: 992px) {
  #section1 .card {
    margin: 50px 20px;
  }
}

#section1 .card img {
  width: 150px;
  height: 150px;
  padding: 30px;
  border: 2px solid #f1f1f1;
}

#section1 .card h3 {
  font-family: RobotoCondensedLight;
  margin: 1em 0;
  text-transform: capitalize;
}

#section1 .card p {
  font-family: RobotoCondensed;
  color: grey;
  line-height: 2em;
  text-align: center;
}

#section2 {
  position: relative;
  background: #f1f1f1;
}

@media (min-width: 992px) {
  #section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#section2 .section2_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  #section2 .section2_content {
    padding: 30px;
  }
}

#section2 img {
  display: block;
  width: 95%;
  margin: 0 auto 40px auto;
}

#section2 h2 {
  text-transform: uppercase;
}

#section2 h3 {
  color: #cea06c;
  margin: 1em 0;
}

#section2 p {
  line-height: 1.8em;
  color: grey;
  margin-bottom: 50px;
}

#section2 a {
  padding: 0.5em 1.5em;
  border: 1px solid #cea06c;
  text-transform: capitalize;
}

@media (min-width: 992px) {
  #section2 a {
    position: absolute;
    bottom: 150px;
    right: 490px;
  }
}

#section4 {
  background: #f1f1f1;
}

#section4 .video {
  color: white;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 300px;
  background: center/cover url(/src/img/ct1.jpg);
}

#section4 .video img {
  width: 35px;
}

.linkContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.linkContainer p {
  text-align: center;
  color: #314356;
  padding: 10px;
  font-family: 'RobotoLight';
  cursor: pointer;
}

.linkContainer p:hover {
  color: #cea06c;
}

.orangeTitle {
  text-align: center;
  color: #cea06c;
  font-family: 'RobotoCondensed';
}

.grayTitle {
  text-align: center;
  color: #314356;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 35px;
  font-family: 'RobotoCondensed';
}

#projectGrid {
  display: -ms-grid;
  display: grid;
  width: 90%;
  height: 150vh;
  margin: 0 5%;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 2.2fr 1fr 1.2fr 1.8fr;
      grid-template-rows: 2.2fr 1fr 1.2fr 1.8fr;
      grid-template-areas: 'NY1' 'SIN' 'PAR' 'NY2';
  gap: 8px;
}

@media (min-width: 768px) {
  #projectGrid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1.2fr;
        grid-template-rows: 1fr 1.2fr;
        grid-template-areas: 'NY1 SIN SIN' 'PAR PAR NY2';
  }
  #projectGrid .project .card {
    width: 100%;
  }
  #projectGrid .project:nth-child(even) .card {
    width: 50%;
  }
}

#projectGrid > div {
  position: relative;
  border-radius: 10px 0 10px 10px;
}

#projectGrid #NY1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: NY1;
  background: url("/src/img/p1.png") center/cover;
}

#projectGrid #NY2 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: NY2;
  background: url("/src/img/p4.png") center/cover;
}

#projectGrid #SIN {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: SIN;
  background: url("/src/img/p2.png") center/cover;
}

#projectGrid #PAR {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: PAR;
  background: url("/src/img/p3.png") center/cover;
}

#projectGrid .card {
  position: absolute;
  top: 0;
  right: 0;
  width: 85%;
  height: 14vh;
  background-color: white;
}

#projectGrid .card h3 {
  font-family: 'RobotoCondensed';
  color: #314356;
  padding: 3vh 0 0 3vh;
}

#projectGrid .card p {
  font-family: 'RobotoLight';
  color: #314356;
  padding: 10px 0 0 3vh;
}
/*# sourceMappingURL=app.css.map */