/// FONTS ///
@font-face {
  font-family: "RobotoLight";
  src: url("/src/font/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoCondensedLight";
  src: url("/src/font/RobotoCondensed-Light.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("/src/font/RobotoCondensed-Regular.ttf") format("truetype");
}

/// VARIABLES ///
$color1: #cea06c;
$color2: #314356;
$color-grey: grey;
$color-lightgrey: lightgrey;
$color-lightgrey: rgb(241, 241, 241);

/// GLOBALS ///
body {
  max-width: 1080px;
  margin: auto;
  font-family: RobotoLight;
}
ul {
  list-style-type: none;
}

section {
  padding: 50px 10px;
}
