.linkContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    p {
        text-align: center;
        color: $color2;
        padding: 10px;
        font-family: 'RobotoLight';
        cursor: pointer;
        
        &:hover {
            color: $color1;
        }
    }
}
.orangeTitle {
    text-align: center;
    color: $color1;
    font-family: 'RobotoCondensed';
}

.grayTitle {
    text-align: center;
    color: $color2;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 35px;
    font-family: 'RobotoCondensed';
}

#projectGrid {
    width: 100%;
    height: 150px;
    background-color: aqua;
    @include md {
        background-color: salmon;
    }
}