#vh {
  position: relative;
  height: 100vh;
  background: url(/src/img/header-bg.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  .vh_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1,
    h2 {
      text-align: center;
      text-transform: uppercase;
    }
    h1 {
      margin: 1em 0;
    }
  }

  .reseaux {
    position: absolute;
    bottom: 30px;

    ul {
      display: flex;

      li {
        margin: 0 10px;
      }

      li img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
